<!DOCTYPE html>
<html>
  <head>
    <title>Chip's Blackjack Table</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/application.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src='application.js'></script>
  </head>
  <body >

    <div class="navbar navbar-fixed-bottom">
      <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
              <li><a href="/set_name">Start Over</a></li>
            </ul>
            <ul class="nav">
              <li><a href="/game_over">Quit</a></li>
            </ul>
        </div>
      </div>
    </div>

  <div class="container">
    <%if @warning %>
      <div class="alert alert-error"><%=@warning%></div>
    <% end %>
    <%= yield %>
  </div>
  </body>
</html>
