<h3>Welcome!</h3>
<h5>I'm Chip. I just got here... Well, you sort of requested my presence and *poof*! Here I am.</h5>
<p>I may be a noob to this big bunch of tubes. It's kinda awkward in here, but I have the distinct feeling that I can beat you at this thing called Blackjack.</p>

<form action='/set_name' method='post'>
  What's your name, pal? 
  <input type='text' name='player_name'/>
  <br/>
  <input type='submit' class='btn'/>
</form>
