form#hit_form{
  float: left;
  margin: 10px 10px 10px 0;
}

form#stay_form{
  float: left;
  margin: 10px 10px 10px 0;
}

img.card{
  margin: 10px 20px 10px 0;
  padding: 10px;
  border-style: ridge;
  border-width: 2px;
  border-color: gray;
  border-radius: 10px;
  background-color: white;
}

.well{
  margin-bottom: 50px;
}

.container{
  margin-top: 10px;
}

.btn{
  margin-bottom: 10px;
}

div#alerts{
  margin: 0 0 10 0;
}