form#hit_form{
  float: left;
  margin: 0 10px 10px 0;
}

form#stay_form{
  float: left;
  margin: 0 10px 10px 0;
}

img.card{

  margin-right: 20px 30px 10px 0;
  padding: 10px;
  border-style: ridge;
  border-width: 3px;
  border-color: gray;
  border-radius: 2px;
  background-color: white;
}

.well{
  margin-bottom: 50px;
}

.container{
  margin-top: 10px;
}